@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap');

$light: #c2dde6;
$morningsky: #CAE4DB;
$skyblue: #8cbcd0;
$mist: #7A9D96;
$quicksand: 'Quicksand', sans-serif;

.appCont {
  display: flex;
  height: 100vh; //fills whole page
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00303F;
  font-family: $quicksand;

  // .logo {
  //   border: solid black 1px;
  //   margin: .5em;
  // }

  .nav-link {
    margin: 1em 0 0 0; //top right bottom left
  }
}


.mainContainer, .alertsContainer, .visContainer {
  width: 100%;
  background-color: $skyblue;
}

.mainContainer {
  padding-top: 1.2em;
  font-family: $quicksand;
}

.dashMain, .dashPods, .dashAlerts {
  color: white;
  font-size: large;
  font-family: $quicksand;
}

.podsTitle {
  padding-bottom: 0.5em;
  text-align: left;
}

.podContainer {
  padding-left: 4em;
  padding-right: 4em;
}

.nodeTitle {
  padding-bottom: 0.5em;
  text-align: left;
}

.nodeContainer {
  padding-left: 4em;
  padding-right: 4em;
}