@import url('https://fonts.googleapis.com/css?family=Quicksand:400,600&display=swap');

$light: #c2dde6;
$morningsky: #cae4db;
$skyblue: #f9ffff;
$mist: #7a9d96;
$quicksand: 'Quicksand', sans-serif;

html,
body {
  width: 100%;
  height: 100%;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.appCont {
  display: flex;
  width: 200vh;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001e3f;
  width: 200px;
  font-family: $quicksand;
  .logo {
    width: 100px;
    height: 100px;
    margin: 30px;
  }
  .nav-link {
    margin: 1em 0 0 0; //top right bottom left
  }
}

.mainContainer,
.alertsContainer,
.visContainer {
  width: 100%;
  background-color: $skyblue;
  padding-top: 1.2em;
  font-family: $quicksand;
  overflow: auto;
}

.dashCluster,
.dashTraffic,
.dashAlerts {
  color: white;
  font-size: large;
  font-family: $quicksand;
}

.podsTitle,
.alertsTitle,
.nodeTitle,
.serviceTitle {
  padding-bottom: 0.5em;
  text-align: left;
}

.podContainer,
.nodeContainer,
.serviceContainer,
.alertsContainer,
.visContainer {
  padding-left: 4em;
  padding-right: 4em;
}

//visualizer tree
.svgWrapper {
  margin: 2rem;
  padding: 4em;

  .treeSvg {
    overflow:visible;
  }

  .radialTreeSvg {
    overflow: visible;
    padding: 12rem 0 0 15rem;
  }

  .link {
    fill: none;
    stroke-width: 2px;
  }

  .node {
    font-family: $quicksand;
    font-size: 14px;
    font-weight: bold;
  }

  circle {
    stroke: #bfbfbf;
    stroke-width: 2.5px;
  }
}

.tooltip {
  position: absolute;
  padding: 0.5em;
  width: 12em;
  font-family: $quicksand;  
  font-size: 12px;
  background-color: rgba(204, 204, 255, 0.8);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
