@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Quicksand&family=Teko&display=swap');

//colors
$light: #c2dde6;
$morningsky: #cae4db;
$skyblue: #f9ffff;
$mist: #7a9d96;
$navy: #001e3f;
// $bg-img: url('../client/assets/polygon-background.jpg');
$bg-img: url('../client/assets/landing.png');

//fonts
$quicksand: 'Quicksand', sans-serif;
$teko: 'Teko', sans-serif;
$openSans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;

html,
body {
  width: 100%;
  height: 100%;
}

//Container for whole page
#container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  // width: 200vh;
  height: 100%;
  font-family: $quicksand;
}

//for Landing page
.appContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 4em;
}

//for My Cluster page
.appCont {
  display: flex;
  flex-direction: row;
}

//////////////
//Home page
//////////////
.homeContainer {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  scroll-behavior: smooth;

  h2 {
    //headers for each containers in home
    font-family: $teko;
    font-size: 50px;
  }
}

#navbarHome {
  background-color: $navy;
  padding: 0.5em;
  opacity: 0.95;
  position: fixed;
  width: 100%;
  z-index: 10; //appear over all other components
  -webkit-box-shadow: 0 9px 6px -6px #999;
  -moz-box-shadow: 0 9px 6px -6px #999;
  box-shadow: 0 9px 6px -6px #999;
  .ml-auto,
  .dashStarted {
    color: $skyblue;
  }
  .ml-auto:hover {
    color: #427eff;
  }
  .logoHome {
    width: 40px;
    height: 30px;
  }
  .featuresScroll {
    color: white;
    padding: 0.5em 1.5em;
  }
  .contributeScroll {
    color: white;
    padding: 0.5em 1.5em;
  }
  .teamScroll {
    color: white;
    padding: 0.5em 1.5em;
  }
  .navLink {
    color: white;
  }
  .navLink:hover {
    color: #427eff;
  }
}

// .heroContainer, .featuresContainer,

.heroContainer {
  padding: 5em 0 5em 0;
  background-image: $bg-img;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .heroComp {
    display: flex;
    flex-direction: column;
    width: 1800px;
    justify-content: center;
    align-items: center;
    .heroQuote {
      text-align: center;
      margin-bottom: 50px;
    }
  }

  .col1 {
    // background-color: $skyblue;
    // opacity: 0.9;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .logoMain {
      //logo img
      height: 400px;
    }
  }
  .logoName {
    font-size: 100px;
    font-family: $teko;
    letter-spacing: 2px;
    text-align: center;
  }
  .col2 {
    background-color: $navy;
    height: 30%;
    width: 100%;
  }
  .github-buttons {
    display: flex;
    justify-content: center;
  }
}

.featuresContainer,
.contributeContainer,
.teamContainer {
  padding: 8em 0 8em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    //github and linkedin icons
    padding: 0.4em;

    &:hover {
      opacity: 0.5;
    }
  }
}

.featuresContainer {
  .featureInfo {
    display: flex;
    align-items: center;

    section {
      width: 30em;
      margin-top: 3em;
    }
    img {
      width: 450px;
      margin-top: 1em;
      margin-bottom: 5em;
    }
    .featureText {
      margin-bottom: 8em;
    }
  }
}

.contributeContainer {
  padding-bottom: 10em;
  // background-color: #dff4ff;

  h5,
  a {
    padding-top: 1em;
  }
  background-color: #dff4ff;
}

.teamContainer {
  justify-content: space-evenly;
  background-color: $navy;
  width: 100%;
  color: white;

  .profileGrp {
    display: flex;
    margin-top: 2em;

    .member {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 2em 0 2em;

      .teamImg {
        width: 150px;
        border-radius: 50%;
        margin-bottom: 1em;
      }
    }
  }
}

//////////////
//Cluster page
//////////////
//Containers for different pages - Login, Cluster, Alerts, Traffic
.loginContainer,
.mainContainer,
.alertsContainer,
.visContainer {
  width: 100%;
  background-color: $skyblue;
  padding-top: 1.2em;
  // font-family: $quicksand;
  overflow: auto;
}

//Cluster + Alerts table properties
.dashHome,
.dashCluster,
.dashTraffic,
.dashAlerts {
  color: white;
  font-size: large;
  // font-family: $quicksand;
}

.homeTitle,
.podsTitle,
.alertsTitle,
.nodeTitle,
.serviceTitle {
  padding-bottom: 0.5em;
  text-align: left;
}

.podContainer,
.nodeContainer,
.serviceContainer,
.alertsContainer,
.visContainer {
  padding-left: 4em;
  padding-right: 4em;
}

//LOGIN PAGE
.loginPage {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  .loginContainer {
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 700px;
    border: 1px solid #a4bfce;
    border-radius: 4px;
    margin: 20px;
    .loginForm {
      margin: 20px;
      margin-top: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      .inputName {
        align-self: flex-start;
        padding-left: 10px;
      }
    }
    .awsInput:focus {
      outline: none;
    }
    .awsLogo {
      width: 250px;
      height: 80px;
      margin-top: 40px;
    }
    .inputAccess {
      text-align: left;
    }
    .signupTitle {
      padding-top: 20px;
      padding-left: 50px;
      padding-right: 50px;
      font-weight: 600;
      color: #5b5b5b;
    }
    .comingSoon {
      margin-top: 150px;
    }
  }
}

// SELECT CLUSTER PAGE
.selectClusterContainer {
  align-self: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: $skyblue;
  border: 1px solid #a4bfce;
  border-radius: 4px;
  margin-top: 50px;
  padding: 50px;
  .chooseTitle {
    font-weight: 800;
  }
  .clusterButton {
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
  }
  .clusterButton:hover {
    color: white;
    background-color: #318dfd;
  }
  .clusterButton:focus {
    outline: none;
  }
}

//visualizer tree
.visContainer {
  display: flex;
  flex-direction: column;
}

.svgWrapper {
  padding: 4em 4em 8em 4em;
  align-self: center;

  .radialTreeSvg {
    overflow: visible;
    padding: 12rem 0 5rem 15rem;
  }

  .link {
    fill: none;
    stroke-width: 2.5px;
  }

  .node,
  .label {
    font-family: $quicksand;
    font-size: 14px;
    font-weight: bold;
  }

  circle {
    stroke-width: 3px;
  }
}

.tooltip {
  position: absolute;
  padding: 0.5em;
  width: 12em;
  font-family: $quicksand;
  font-size: 12px;
  background-color: rgba(204, 204, 255, 0.8);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
