@import url('https://fonts.googleapis.com/css?family=Quicksand|Teko&display=swap');

$light: #c2dde6;
$morningsky: #cae4db;
$skyblue: #f9ffff;
$mist: #7a9d96;
$navy: #001e3f;
$quicksand: 'Quicksand', sans-serif;

html,
body {
  width: 100%;
  height: 100%;
}

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.appCont {
  display: flex;
  width: 200vh;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #001e3f;
  width: 200px;
  font-family: $quicksand;
  .logo {
    width: 100px;
    height: 100px;
    margin: 30px;
  }
  .nav-link {
    margin: 1em 0 0 0; //top right bottom left
  }
}

.loginContainer,
.mainContainer,
.alertsContainer,
.visContainer {
  width: 100%;
  background-color: $skyblue;
  padding-top: 1.2em;
  font-family: $quicksand;
  overflow: auto;
}

.dashHome,
.dashCluster,
.dashTraffic,
.dashAlerts {
  color: white;
  font-size: large;
  font-family: $quicksand;
}

.homeTitle,
.podsTitle,
.alertsTitle,
.nodeTitle,
.serviceTitle {
  padding-bottom: 0.5em;
  text-align: left;
}

.podContainer,
.nodeContainer,
.serviceContainer,
.alertsContainer,
.visContainer {
  padding-left: 4em;
  padding-right: 4em;
}

// home page css
.homeContainer {
  margin: 0;
  width: 100%;
  // background-color: $skyblue;
  font-family: $quicksand;
  overflow: auto;
}
.logoHome {
  width: 40px;
  height: 30px;
}
#navbarHome {
  background-color: $navy;
  padding: 0.5em;
  .ml-auto,
  .dashStarted {
    color: $skyblue;
  }
}
.heroContainer {
  display: flex;
  flex-direction: column;
  height: 800px;
  width: 100%;
  .col1 {
    background-color: $skyblue;
    // opacity: 0.9;
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .logoMain {
      height: 400px;
      width: 400px;
    }
    .logoName {
      font-size: 150px;
      letter-spacing: 3px;
      font-family: 'Teko', sans-serif;
    }
  }
  .col2 {
    background-color: $navy;
    height: 30%;
    width: 100%;
  }
}
// .voidContainer {
//   background-color: $skyblue !important;
//   opacity: 0.8;
//   width: 100%;
//   height: 500px;
//   margin-bottom: 80px;
// }

//LOGIN PAGE
.appCont {
  display: flex;
  justify-content: center;
  .loginPage {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    .loginContainer {
      align-self: center;
      text-align: center;
      justify-content: center;
      align-items: center;
      width: 500px;
      height: 600px;
      border: 1px solid #a4bfce;
      border-radius: 4px;
      .loginForm {
        margin: 20px;
        margin-top: 0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        // justify-content: flex-start;
        .inputName {
          align-self: flex-start;
          padding-left: 10px;
        }
      }
      .awsLogo {
        width: 250px;
        height: 100px;
        margin-top: 20px;
      }
    }
  }
}

//visualizer tree
.svgWrapper {
  margin: 2rem;
  padding: 4em;

  .treeSvg {
    overflow: visible;
  }

  .radialTreeSvg {
    overflow: visible;
    padding: 12rem 0 0 15rem;
  }

  .link {
    fill: none;
    stroke-width: 2px;
  }

  .node,
  .label {
    font-family: $quicksand;
    font-size: 14px;
    font-weight: bold;
  }

  circle {
    stroke: #bfbfbf;
    stroke-width: 2.5px;
  }
}

.tooltip {
  position: absolute;
  padding: 0.5em;
  width: 12em;
  font-family: $quicksand;
  font-size: 12px;
  background-color: rgba(204, 204, 255, 0.8);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
